<p id="notice"><%= notice %></p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @game.loser %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @game.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @game.end_time %>
</p>

<p>
  <strong>Board:</strong>
  <%= @game.board %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
